<div id="<%= dom_id good %>">
  <p>
    <strong>Goods:</strong>
    <%= good.goods_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= good.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= good.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= good.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= good.price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= good.date %>
  </p>

  <p>
    <strong>Maker:</strong>
    <%= good.maker %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= good.category %>
  </p>

</div>
