<div id="<%= dom_id good %>">

  <div class= "card">
    <img src="<%= good.image_url %>" class= "card-img-top">
    <div class= "card-body">

      <p>
        <strong>商品名:</strong>
        <%= good.title %>
      </p>

      <p>
        <strong>商品説明:</strong>
        <%= good.description %>
      </p>

      <p>
        <strong>値段:</strong>
        <%= good.price %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= good.category %>
      </p>
    </div>
  </div>

</div>
